apiVersion: apps/v1
kind: Deployment
metadata:
  name: execution
  namespace: default
spec:
  # 일단 3개로 시작
  replicas: 3
  selector:
    matchLabels:
      app: execution-server
  template:
    metadata:
      labels:
        app: execution-server
    spec:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      serviceAccountName: execution-sa
      containers:
        - name: execution
          image: localhost/execution:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "2"
              memory: "512Mi"
            limits:
              cpu: "4"
              memory: "1Gi"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: execution-hpa
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: execution
  minReplicas: 3
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
---
apiVersion: v1
kind: Service
metadata:
  name: execution-service
  namespace: default
spec:
  # type: LoadBalancer
  type: NodePort
  selector:
    app: execution-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80