name: Deploy to EC2

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t execution:latest -f /home/ubuntu/serverless/app/execution/execution

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f /home/ubuntu/serverless/app/execution/execution/k8s/rbac.yaml
          kubectl apply -f /home/ubuntu/serverless/app/execution/execution/k8s/redis.yaml
          kubectl apply -f /home/ubuntu/serverless/app/execution/execution/k8s/gateway.yaml

      - name: Restart deployments (to use new image)
        run: |
          kubectl rollout restart deployment --all || true

      - name: Check status
        run: |
          kubectl get pods
          kubectl get services
